/* (測試用)模型回傳值畫布 */
#imageCanvas {
  display: none;
}

/* 螢幕 */
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  overflow: hidden; /* 禁用滚动条 */
  width: 100vw; /* 设置宽度为视口宽度 */
  height: 100vh; /* 设置高度为视口高度 */
}

/* 進度條區域 */


/* 禁止选择文本 */
.no-select {
  user-select: none; /* 禁止选择文本 */
  -webkit-user-select: none; /* 针对 Safari 和 Chrome 浏览器 */
  -moz-user-select: none; /* 针对 Firefox 浏览器 */
  -ms-user-select: none; /* 针对 Internet Explorer */
}


/* 进度条区域 */
.line {
  display: flex; /* 使用 Flex 布局 */
  width: 100vw; /* 设置容器的宽度为 100% 视口宽度 */
  align-items: center; /* 垂直居中 */
  margin: 0% 0% 1%;
}

/* 呼叫店員按鈕區域 */
.home_area {
  flex: 0 0 10vw; /* 设置固定宽度为 10vw */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 返回偵測按鈕 */
#homeButton:hover {
  background-color: #567bb4;
}

/* 呼叫店員按鈕 */
#homeButton {
  background-color: #7aaaf5;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.8vw;
  width: 8vw;
  height: auto;
  padding: 1% 0%;
}

/* 进度条区域 */
.steps-container {
  flex: 0 0 100vw;
  display: flex; /* 使用 Flex 布局，使步骤容器中的元素水平排列 */
  align-items: center; /* 在垂直方向上将所有步骤居中对齐 */
  justify-content: center; /* 水平居中步骤 */
}

.step {
  display: flex; /* 每个步骤也是一个 Flex 容器，确保其内部元素水平排列 */
  align-items: center; /* 在垂直方向上居中对齐步骤中的内容（圆圈和箭头） */
}

/* 完成圈圈 */
.green_circle {
  width: 8vw; /* 设置圆圈的宽度为 8% 的视口宽度 */
  height: 8vw; /* 设置圆圈的高度为 8% 的视口宽度 */
  background-color: #4CAF50; /* 设置圆圈的背景颜色为绿色 */
  border-radius: 50%; /* 使元素变成圆形 */
  display: flex; /* 使用 Flex 布局来让圆圈中的文字居中 */
  justify-content: center; /* 水平居中圆圈内的文字 */
  align-items: center; /* 垂直居中圆圈内的文字 */
  color: white; /* 设置圆圈内文字的颜色为白色 */
  font-size: 1.5vw; /* 设置文字大小为 1.5% 的视口宽度 */
  font-weight: bold; /* 将文字设置为加粗 */
  margin: 0 10px; /* 在每个圆圈左右添加 10px 的外边距 */
}

/* 進行中圈圈 */
.yellow_circle {
  width: 8vw; /* 设置圆圈的宽度为 8% 的视口宽度 */
  height: 8vw; /* 设置圆圈的高度为 8% 的视口宽度 */
  background-color: #bd7e00; /* 设置圆圈的背景颜色为绿色 */
  border-radius: 50%; /* 使元素变成圆形 */
  display: flex; /* 使用 Flex 布局来让圆圈中的文字居中 */
  justify-content: center; /* 水平居中圆圈内的文字 */
  align-items: center; /* 垂直居中圆圈内的文字 */
  color: white; /* 设置圆圈内文字的颜色为白色 */
  font-size: 1.5vw; /* 设置文字大小为 1.5% 的视口宽度 */
  font-weight: bold; /* 将文字设置为加粗 */
  margin: 0 10px; /* 在每个圆圈左右添加 10px 的外边距 */
}

/* 未到達圈圈 */
.grey_circle {
  width: 8vw; /* 设置圆圈的宽度为 8% 的视口宽度 */
  height: 8vw; /* 设置圆圈的高度为 8% 的视口宽度 */
  background-color: #696969; /* 设置圆圈的背景颜色为绿色 */
  border-radius: 50%; /* 使元素变成圆形 */
  display: flex; /* 使用 Flex 布局来让圆圈中的文字居中 */
  justify-content: center; /* 水平居中圆圈内的文字 */
  align-items: center; /* 垂直居中圆圈内的文字 */
  color: white; /* 设置圆圈内文字的颜色为白色 */
  font-size: 1.5vw; /* 设置文字大小为 1.5% 的视口宽度 */
  font-weight: bold; /* 将文字设置为加粗 */
  margin: 0 10px; /* 在每个圆圈左右添加 10px 的外边距 */
}

/* 問題圈圈 */
.red_circle {
  width: 8vw; /* 设置圆圈的宽度为 8% 的视口宽度 */
  height: 8vw; /* 设置圆圈的高度为 8% 的视口宽度 */
  background-color: #ff0000; /* 设置圆圈的背景颜色为绿色 */
  border-radius: 50%; /* 使元素变成圆形 */
  display: flex; /* 使用 Flex 布局来让圆圈中的文字居中 */
  justify-content: center; /* 水平居中圆圈内的文字 */
  align-items: center; /* 垂直居中圆圈内的文字 */
  color: white; /* 设置圆圈内文字的颜色为白色 */
  font-size: 1.5vw; /* 设置文字大小为 1.5% 的视口宽度 */
  font-weight: bold; /* 将文字设置为加粗 */
  margin: 0 10px; /* 在每个圆圈左右添加 10px 的外边距 */
}


.tick {
  font-size: 3vw; /* 设置勾勾的字体大小为 3% 的视口宽度 */
}

.arrow {
  font-size: 3vw; /* 设置箭头的字体大小为 3% 的视口宽度 */
  color: #000; /* 设置箭头的颜色为黑色 */
}





/* 系統UI */
.system{
  /* margin:auto; */
  display: flex; /* 使用flexbox布局 */
  height: 80vh; /* 或者根据需要设置高度 */
  width: 100vw;
  flex-direction: row; /* 让视频和按钮左右排列 */
}

/* 影像畫面 */

video {
  max-width: 100%;
  height: auto;
}

.video{
  /* position: relative;  */
  flex: 3; /* 根据需要设置视频部分的宽度比例 */
  /* background-color: lightgray; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

#videoElement,
#snapshot {
  border: 1px solid black;
  width: 100%;
  height: auto;
  max-height: 100%;
  /* margin-bottom: 20px; */

  /* position: absolute;
  right: 0;               */
}


#snapshot {
  display: none;
}

/* 拍攝按鈕所在區域 */
.capture {
  flex: 2; /* 占据剩余宽度 */
  /* display: flex; */
  /* justify-content: center; */
  align-items: center;
  /* background-color: #f5f5f5; */
  /* padding: 10px; */
}

/* 操作說明文字的區域 */
.text_area{
  /* display:flex; */
}

/* 操作說明文字 */
.text_area p{
  text-align: center;
  font-size: 1.4vw;
  margin: 1.5% 0%;
}


/* 下一步按鈕的區域 */
.button_area{
  display:flex;
  margin: 8% 0% 1%;
}

/* 按鈕 */
#captureButton:hover,
#downloadButton:hover,
#loadingSpinner:hover{
  background-color: #567bb4 !important;
}

#captureButton,
#downloadButton,
#loadingSpinner{
  margin: auto;
  background-color: #7aaaf5 !important;
  color: white !important;
  border: none !important;
  border-radius: 4px !important;
  cursor: pointer !important;
  font-size: 1.8vw !important;
  width: 12vw;
  height: auto;
  padding: 2% 3%;
}
